@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --body-background-color: #fae4cd;
    --black-font-color:#101012;
    --button-color: #0c5ec1;
    --button-border-color: rgba(12, 94, 193, 0.6);
    --nav-background-color: #ffffff;
}

*{
    font-family: "Inter", sans-serif;
    color: var(--black-font-color);
}

/* Selectores de etiqueta */
h1{
    font-size: 61px;
    margin: 0;
}

h2{
    font-size: 23px;
    margin: 17px 0;
}

body{
    background-color: var(--body-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a{
    text-decoration: none;
}

main{
    width: 1024px;
    height: 63%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* Selectores de clases  */

.small-font{
    font-size: 12px;
    font-weight: 550;
    transition: all 0.2s;
}
.small-font:hover{
    transform: scale(1.1);
}

.subtitle-nav-container{
    width: 886px;
    transition: width 0.3s;
}

.supryze{
    color: var(--button-color);
    font-weight: 700;
}

.nav-container{
width: 100%;
height: 49px;
border-radius: 7px;
display: flex;
align-items: center;
justify-content: space-between;
background-color: var(--nav-background-color);
}
.first{
    flex-basis: 24%;
}
.last{
    flex-basis: 37%;
}

.nav-items-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.search-container{
    flex-basis: 37%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.magnifying-glass{
    opacity: 0.4; 
    font-size: 15px;
    margin-left: 10px;
    display: flex;

}

.input-text{
    width: 90%;
    height: 22px;
    margin-left: -23px;
    padding-left: 27px;
    outline: none;
    border: 2px solid rgba(0 , 0, 0, 0.1);
    border-radius:5px;
    display: flex;
    align-items: center;
}

.input-text::placeholder{
    font-size: 12px;
    opacity: 0.6;
}

.button{
    border: 2px solid var(--button-border-color);
    border-radius: 5px;
    padding: 4px 9px;
}

.download-button{
    font-size: 12px;
    font-weight: 750;
    background-color: var(--nav-background-color);
    text-wrap: nowrap;
}

.register-button{
    font-size: 12px;
    font-weight: 400;
    background-color: var(--button-color);
    color:white;
}

.register-button:hover{
    background-color: #3d7ae6;
}

.download-button:hover{
    background-color: #d2ddf3;
} 

button:hover{
    cursor: pointer;
}